<h3> Current Colleges on hand</h3> 
<% for (var i=0; i< universityData.length; i++ ) { %>
 <form method="POST" action="/deleteName/<%= universityData[i]._id %>" style="display: inline-block">  
   <%= universityData[i].name %> (<%= universityData[i].size %>) 
   <input type="submit" value="delete"> 
 </form>
 <br/>
<% } %> 

<h3>Add a new College</h3>

<form method="POST" action="/addName">
   <label for="name">University: </label>
       <input name="name" value="New University">
   <br>
   <br>
   <input type="submit" value="Add This University" />
</form>


<h3> Let's update one of our Colleges</h3> 
<% for (var i=0; i< universityData.length; i++ ) { %>
<form method="POST" action="/updateUniversity/<%= universityData[i]._id %>" style="display: inline-block">  
  <%= universityData[i].name %> (<%= universityData[i].size %>) 
  <input type="submit" value="update"> 
</form>
<br/>
<% } %> 